/* src/styles/BackgroundAnimation.css */
.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(to right, #001F3F, #1A1A2E);
}
